<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的mapper接口-->
<mapper namespace="com.ray.mapper.UserMapper">
    <!--select查询语句-->
    <select id="select" resultType="com.ray.pojo.User">
        select * from mybatis.user
    </select>

    <!--添加-->
    <insert id="addUser" parameterType="com.ray.pojo.User">
        INSERT INTO mybatis.user (id,name,pwd) VALUES (#{id},#{name},#{pwd})
    </insert>

    <!--删除-->
    <!--配置sql语句故意出错-->
    <delete id="deleteUser" parameterType="int">
        DELETES FROM mybatis.user WHERE id=#{id}
    </delete>
</mapper>

